a, a:visited {
  color: #07d;
}

a:hover {
  color: #09f;
}

#main-nav .q-item__section--avatar {
  min-width: 28px;
  padding-right: 12px;
}

#main-nav .q-item__section--side > .q-icon {
  font-size: 20px;
  color: #444;
}

#main-nav .q-item--active {
  background: var(--q-primary);
  color: #fff;
}
#main-nav .q-item--active .q-icon {
  color: #fff;
}

#main-nav .q-item {
  min-height: 40px;
}

#main-nav .subnav {
  box-shadow: inset 2px 0 0 #888;
}

#main-nav .subnav .subnav {
  box-shadow: inset 4px 0 0 #666;
}

#main-nav .subnav .subnav .subnav {
  box-shadow: inset 8px 0 0 #444;
}


